<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Carver</title>

    <link rel="stylesheet" href="static/css/materialize.min.css">

    <link rel="stylesheet" href="static/css/load.css">
  </head>

  <body class="grey lighten-3">
    <div class="loading center-align">
      <img src="static/svg/gears.svg" alt="">
      <h2 class="center-align raleway">
        Copying: <span class="percent">0</span>%
      </h2>
      <p class="jText"></p>
      <button class="btn" id="jButton">Fire</button>
    </div>

  </body>

  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <!-- normal script imports etc  -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/materialize.min.js"></script>
  <script src="static/js/jquery.matchHeight-min.js"></script>
  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>

  <script type="text/javascript">

  var progress = new EventSource("/scanExtract");
  progress.onmessage = function(event){
    changePercent(event.data);
    if(event.data == '100.00'){
      progress.close()
    }
  }


    $(document).ready(function() {
      // var i = 0;
      // function myLoop () {
      //    setTimeout(function () {
      //     changePercent(i);
      //       i++;
      //       if (i <= 100) {
      //          myLoop();
      //       }
      //    }, 500)
      // }
      //
      // myLoop();

    });

    function changePercent(i){
      $('.percent').text(i);
    }

    // $('#jButton').click(function(event) {
    //   $.ajax({
    //     url: '/jURL',
    //     type: 'GET',
    //     dataType: 'json'
    //   })
    //   .done(function(data) {
    //     console.log("success");
    //     text = $('.jText').text()
    //     $('.jText').text(text + " " + data)
    //   })
    //   .fail(function() {
    //     console.log("error");
    //   })
    //
    // });
  </script>

</html>
