<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Carver</title>

    <link rel="stylesheet" href="static/css/materialize.min.css">

    <link rel="stylesheet" href="static/css/load.css?ver=3">
  </head>

  <body class="grey lighten-3">
    <div class="loading center-align">
      <img src="static/svg/magnify.svg" alt="">
      <h3 style="font-weight: bold"><span class="percent">0</span>%</h3>
    </div>
    <div class="loadbar center-align" style="width: 25%">
      <div class="progress">
        <div class="determinate" style="width: 0"></div>
      </div>
    </div>
    <div class="center-align">
      <div class="extracting raleway center-align">
        <h4>Extracting:</h4>
        <p>Time Remaining: <span class="timeRemain">0</span></p>
      </div>
    </div>
    <div class="center-align">
      <p style="font-weight: bold">File(s) Recovered: <span class="recovered">0</span></p>
    </div>

  </body>

  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <!-- normal script imports etc  -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/materialize.min.js"></script>
  <script src="static/js/jquery.matchHeight-min.js"></script>
  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>

  <script type="text/javascript">

    var remote = require('electron').remote;
    var shell = remote.shell;

    $(document).ready(function() {
      var progress = null;
      var mode = {{ copy }};
      var location = "{{ location }}"
      console.log(location);
      if(mode == '1'){
        progress = new EventSource("/scanExtractCopy")
      }else if(mode == '0'){
        progress = new EventSource("/scanExtract");
      }else if (mode == '-1') {
        progress = new EventSource("/scanExtractRaw");
      }

      progress.onmessage = function(event){
        var res = (event.data).split(" ")
        changePercent(res[0]);
        $('.determinate').css('width', parseInt(res[0]) + "%");
        $('.recovered').text(res[1])

        if(res.length == 4){
          changeTimeRemain(res[2] + " " + res[3]);
        } else if (res.length == 6) {
          changeTimeRemain(res[2] + " " + res[3] + " " + res[4] + " " + res[5]);
        } else if (res.length == 8) {
          changeTimeRemain(res[2] + " " + res[3] + " " + res[4] + " " + res[5] + " " + res[6] + " " + res[7]);
        }

        if(res[0] == '100.00'){
          console.log("Finished Extracting");
          shell.showItemInFolder(location)
          $('.extracting').text('Done')
          $('.percent').text('100.00')
          $('.extracting').addClass('green-text')
          progress.close()
        }
      }
    });

    function changePercent(i){
      $('.percent').text(i);
    }

    function changeTimeRemain(i){
      $('.timeRemain').text(i);
    }


  </script>

</html>
