<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Carver</title>

    <link rel="stylesheet" href="static/css/materialize.min.css">

    <link rel="stylesheet" href="static/css/load.css">
  </head>

  <body class="grey lighten-3">
    <div class="loading center-align">
      <img src="static/svg/magnify.svg" alt="">
      <h2 class="center-align raleway extracting">
        Extracting: <span class="percent">0</span>%
      </h2>
      <p>File(s) Recovered: <span class="recovered">0</span></p>

    </div>

  </body>

  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <!-- normal script imports etc  -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/materialize.min.js"></script>
  <script src="static/js/jquery.matchHeight-min.js"></script>
  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>

  <script type="text/javascript">

    var remote = require('electron').remote;
    var shell = remote.shell;

    $(document).ready(function() {
      var progress = null;
      var mode = {{ copy }};
      var location = "{{ location }}"
      console.log(location);
      if(mode == '1'){
        progress = new EventSource("/scanExtractCopy")
      }else{
        progress = new EventSource("/scanExtract");
      }

      progress.onmessage = function(event){
        var res = (event.data).split(" ")
        changePercent(res[0]);
        $('.recovered').text(res[1])
        if(res[0] == '100.00'){
          console.log("Finished Extracting");
          shell.showItemInFolder(location)
          $('.extracting').text('Done')
          $('percent').text('')
          $('.extracting').addClass('green-text')
          progress.close()
        }
      }
    });

    function changePercent(i){
      $('.percent').text(i);
    }


  </script>

</html>
