<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Carver</title>

    <link rel="stylesheet" href="static/css/materialize.min.css">

    <link rel="stylesheet" href="static/css/load.css">
  </head>

  <body class="grey lighten-3">
    <div class="loading center-align">
      <img src="static/svg/gears.svg" alt="">
      <h2 class="center-align raleway">
        <p>Copying: <span class="percent">0</span>%</p>
        <p>Time Remaining: <span class="timeRemain">0</span></p>

      </h2>
    </div>

    <form action="/config" class="toConfig" style="display:hidden">

    </form>

  </body>

  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <!-- normal script imports etc  -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/materialize.min.js"></script>
  <script src="static/js/jquery.matchHeight-min.js"></script>
  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>

  <script type="text/javascript">

  var progress = new EventSource("/copyImage");
  progress.onmessage = function(event){
    var res = (event.data).split(" ")
    changePercent(res[0]);

    if(res.length == 4){
      changeTimeRemain(res[1] + " " + res[2]);
    } else if (res.length == 6) {
      changeTimeRemain(res[1] + " " + res[2] + " " + res[3] + " " + res[4]);
    } else if (res.length == 8) {
      changeTimeRemain(res[1] + " " + res[2] + " " + res[3] + " " + res[4] + " " + res[5] + " " + res[6]);
    }
    
    if(event.data == '100.00'){
      progress.close()
      $('.toConfig').submit();
    }
  }


    $(document).ready(function() {


    });

    function changePercent(i){
      $('.percent').text(i);
    }

    function changeTimeRemain(i){
      $('.timeRemain').text(i);
    }

  </script>

</html>
