<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>File Carver</title>

        <link rel="stylesheet" href="static/css/materialize.min.css">
        <link rel="stylesheet" href="static/css/select.css?version=5">
    </head>

    <body class="grey lighten-2">
      <div class="wrapper">
        <div class="container">
          <!-- Select Drive -->
          <ul class="collection with-header card-panel z-depth-2" id="selectDrive">
              <li class="collection-header">
                  <h4>Select a Drive:</h4>
              </li>
              {% set i = 0 %}
              {% for drives in drive_list %}
              <a class="collection-item" id="{{i}}">{{drives}}</a>
              {% set i = i + 1 %}
              {% endfor %}
          </ul>

          <!-- Selected Drive -->
          <blockquote class="displayDrive">
              <p>Selected Drive: <span class="selectedDrive"></span></p>
          </blockquote>

          <!-- Copy Switch -->
          <div class="copySwitch card-panel z-depth-1">
            <div class="switch">
              <label>
                Copy Raw Image:
                <input type="checkbox" id="copySwitch">
                <span class="lever"></span>
              </label>

              <p class="copyInfo grey-text text-darken-1">
                Makes a raw image copy of the selcted drive.
                <span class="amber-text text-darken-2">Warning: 'Takes a lot of time.'</span>
              </p>
            </div>

          </div>

          <!-- Do Copy -->
          <div class="doCopy card-panel z-depth-1" id="doCopy">
            <!-- Input Copy Name -->
            <div class="input-field">
              <input placeholder="Name of the Raw Image" id="copyName" type="text" class="validate" required>
              <label for="first_name">Copy Name</label>
            </div>
            <!-- Set Copy Location -->
            <button class="btn waves-effect grey lighten-2 text-darken-4 grey-text" id="copyLocationBtn">
              Set Copy location
            </button>
            <!-- Displayed Copy Location -->
            <blockquote>
              <p class="copyLocationText blue-text" id="copyLocationText">No location set</p>
            </blockquote>
            <!-- Hidden open file directory -->
            <input type="file" id="copyLocation" style="display:none" webkitdirectory>
          </div>

          <!-- To Config -->
          <div class="toConfig right-align">
            <button class="btn waves-light waves-effect" id="toConfig">To Config</button>
          </div>

          <!-- Hidden Forms -->
          <form action="/setSelect" method="post" id="doCopyForm" style="display: none">
            <input type="text" name="drive" class="driveForm" required>
            <input type="text" name="copyPath" id="copyLocationForm" required>
            <input type="text" name="copyName" id="copyNameForm" required>
          </form>

          <form action="/setSelect" method="post" id="configForm" style="display: none">
            <input type="text" name="drive" class="driveForm" required value="">
            <input type="text" name="copyPath">
            <input type="text" name="copyName">
          </form>
        </div>
      </div>
    </body>

    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <!-- normal script imports etc  -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/materialize.min.js"></script>
    <script src="static/js/jquery.matchHeight-min.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>

    <script>
    // const shell = require('electron').shell
    // const os = require('os')

    var selectedDrive = null;
    var copyPathLocation = null;
    var copyName = null;

    $(document).ready(function() {
      // Select Drive
      $('.collection-item').click(function(event) {
        $('.collection-item').removeClass('active');
        $(this).addClass('active');
        $('.selectedDrive').text($(this).text());
        // Copy the the data into the form
        $('.driveForm').val($(this).text());
        console.log($('.driveForm').val());
      });

      // Check for the state of the switch.
      $('#copySwitch').change(function() {
        if($(this).is(':checked')){
          console.log('it is checked');
          $('#doCopy').show('400', function() {

          });
        }else {
          console.log('it is not checked');
          $('#doCopy').hide('400', function() {

          });
        }
      });

      //Set copy Location
      $('#copyLocationBtn').click(function(event) {
        $('#copyLocation').click();
      });

      // Change the location display and copy the data into the form
      $('#copyLocation').change(function(event) {
          var folderLocation = document.getElementById('copyLocation').files[0].path
          console.log(folderLocation);
          $('#copyLocationText').text(folderLocation);
          $('#copyLocationForm').val(folderLocation);
      });

      // On key up on name, store the data in the copyName Form
      $('#copyName').keyup(function(event) {
        $('#copyNameForm').val($(this).val());
        console.log($('#copyNameForm').val());
      });

      $('#toConfig').click(function(event) {
        if($('#copySwitch').is(':checked')){
          console.log('GOTO LOADING');
          if($('#doCopyForm')[0].checkValidity()){
            $('#doCopyForm').submit();
          }else {
            Materialize.toast('Fill up the required fields.', 4000)
          }

        }else {
          console.log('GOTO CONFIGURTION');
          if($('#configForm')[0].checkValidity()){
            $('#configForm').submit();
          }else {
            Materialize.toast('Fill up the required fields.', 4000)
          }
        }
      });


    });

    </script>
</html>
